# Ignore all .env files
*.env

# Except the example file
!/nextjs/.env.example

.DS_Store
/reaction-music-game
nextjs/src/components/test.tsx
/nginx

# git rm -r --cached .
scrapper/config/config.json
