/env
/.env
*.env
# */.env.*
.DS_Store
/reaction-music-game
nextjs/src/components/test.tsx
/nginx

# git rm -r --cached .
/postgres/.env
/postgres/data/pgdata
/env.production
/.env.production
/nextjs/.env.development
/nextjs/.env.production