version: '3'

services:
  db :
    image: postgres
    # environment:
    #   POSTGRES_PASSWORD: test123
    #   POSTGRES_USER : test
    ports:
      - '5432:5432'
    volumes:
      - data:/var/lib/postgresql/data
    env_file : 
      - ./env/db.env
  web:
    build: 
      context: ./nextjs
    ports:
      - '3000:3000'
  datascraper :
    build: 
      context: ./scrapper

volumes:
  data:
      