@import url("https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;



.ReactModal__Body--open {
    /* height: 100vh; */
    /* overflow: hidden; */
    /* pointer-events: none; */
}

.rc-tooltip-inner {
    background-color: var(--primary-color) !important;
    color: white !important;
    text-align: center !important;
    border: none !important;
}

@layer components {
    #__next {
        @apply h-full;
    }

    .rating-table-row {
        @apply even:bg-gray-300/[.6] hover:bg-gray-500/[.4] hover:bg-gray-500/[.4]
    }

    .rating-table-header {
        @apply text-sm flex justify-center items-center p-2
    }

    .rating-table-header div {
        @apply cursor-pointer flex items-center justify-center
    }

    .rating-table-row-2 {
        @apply hover:bg-gray-500/[.4] hover:bg-gray-500/[.4]
    }

    .checkbox {
        @apply w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600
    }

    .list-container {
        @apply flex p-2 bg-[#21618C] rounded-md
    }

    .item-container {
        @apply p-1.5 mx-1 bg-[#d9e9ee] rounded-md text-[0.75rem] select-none 
    }

    .btn-icon {
        @apply !min-w-[1rem] min-h-[1rem]
    }
}